@{
    ViewData["Title"] = "Home Page";
}
<br/>
<h2>irolodex</h2>
<br />
<div>
    <h2>Overview</h2>
    <p>Welcome to irolodex. This application allows you to create as many leads as you would like and stores them seemlessly so that you can access them on demand when you need to. 
    Irolodex uses roles to easily manage multiple users and administrators. Each user can only view their own leads which they themselves have added. An administrator can view all leads
    and change the owner with ease.</p>
    <p>Give irolodex a test drive!
   </p>
    <p>Register now to create your account and start managing your leads.</p>
</div>
