@model FinalProjectB.Models.Account
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>


<form class="form-horizontal" asp-controller="Home" asp-action="Login" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Username" class="col-md-2 control-label"></label>"
        <div class="col-md-10">
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="password" class="col-md-2 control-label"></label>"
        <div class="col-md-10">
            <input asp-for="password" class="form-control" />
            <span asp-validation-for="password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Login</button>
        </div>
    </div>
</form>
